.select {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.title {
    color: var(--color-brand);
    font-weight: var(--fw-b);
    text-transform: uppercase;
    user-select: none;
}

.trinalge {
    height: 10px;
    width: 0;
    border: .5em solid var(--color-brand);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    translate: 0 25%;
}

.activeTriangle {
    scale: -1;
    translate: 0 -25%;
}