.wrapper {
    width: 100%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: red;
}

.container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}