.title {
    width: 100%;
    display: block;
    background: var(--color-brand);
    color: var(--color-white);
    font-size: var(--fz-xl);
    font-weight: var(--fw-b);
    text-align: center;
    padding: .5em 0;
}

.container {
    background: transparent;
}