.header {
    padding: 1em 0;
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    max-width: 400px;
}

.langSelect {}

.button {
    text-transform: uppercase;
    margin-left: auto;
}