.icoWrapper {
    height: 100vh;
    width: 50vw;
    overflow-x: overflow;
    position: relative;
}

.ico {
    height: 100%;
    width: 125%;
    position: absolute;
    left: -25%;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
}

.block {
    min-width: 50%;
    flex-shrink: 1;
    padding: 3em;
}

.toggler {
    display: block;
    margin: 0 auto;
}