.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.rect {
    position: absolute;
}

.rect1 {
    bottom: 0;
    right: 0;
}

.rect2 {
    top: 0;
    left: 0;
}

.rect3 {
    left: 0;
    top: 30%;
}

.rect4 {
    bottom: 0;
    right: 0;
}